@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    -webkit-tap-highlight-color: transparent;
}

* {
    box-sizing: border-box;

}

body {
    background-color: #f3f3f3;
    word-break: break-word;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    padding: 0 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    font-size: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header img {
    width: 75px;
}

.chatRender {
    margin-top: 80px;
    padding: 26px 0 40px 0;
    max-height: calc(100vh - 140px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chatRender>li {
    border-radius: 2px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    padding: 12px 8px;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

b {
    font-weight: 700;
}

.time {
    color: #AAAAAA;
}

#message {
    background: #FFFFFF;
}

#status {
    background-color: #DCDCDC;
}

#pm {
    background-color: #FFDEDE;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    padding-left: 20px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer>button {
    height: 100%;
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    border: none;
    background-color: #FFFFFF;
}

footer>input {
    height: 100%;
    width: 88%;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding: 0 0 5px 0;
}

footer>span {
    position: absolute;
    bottom: 5px;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #505050;
}

::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: black;
    opacity: 1;
}

input:focus {
    outline: none;
}

.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    z-index: 999;
}

.login,
.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login>img {
    width: 130px;
    position: absolute;
    top: 10%
}

.login input {
    width: 261px;
    height: 54px;
    margin: 0 0 15px 0;
    border: 1px solid #D7D7D7;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.login input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #AEAEAE;
}

.login button {
    width: 109px;
    height: 45px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #696969;
    border: none;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
}

.overlay>div {
    width: 100vw;
    height: 100vh;
}

.overlay>aside {
    background-color: #FFFFFF;
    position: absolute;
    height: 100%;
    width: 259px;
    right: 0%;
    z-index: 5;
}

.overlay>aside>.description {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: black;
    padding: 0 45px;
    width: 259px;
    height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
}

.overlay>aside>ul {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    max-height: 205px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.overlay>aside>ul>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    cursor: default;
    transition: 500ms;
}

.overlay>aside>ul>li:hover {
    color: #696969;
}

.overlay>aside>ul>li>div {
    max-width: 180px;
    display: flex;
    align-items: center;
}

.overlay span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overlay>aside>ul>li ion-icon {
    font-size: 20px;
    min-width: 20px;
}

.overlay>aside>ul>li>div>ion-icon {
    margin-right: 8px
}

.overlay>aside>ul>li:not(:first-child) {
    margin-top: 8px;
}

.checkmark {
    font-weight: bold;
    color: #28bb25;
}

.hide {
    display: none;
}